<section class="hero__Wrapper-sc-1h2eool-0 bWzmMU">
  <h1 class="hero__Title-sc-1h2eool-1 iJtZvt">The Rick and Morty API</h1>
</section>
<section class="showcase__Wrapper-sc-1x4wk68-0 kZQvlq">
    <div class="showcase__Inner-sc-1x4wk68-1 iUltZj">
      <article class="characterCard__Wrapper-sc-1ejywvi-0 jHMBqe" *ngFor="let character of characters">
        <div class="characterCard__ImgWrapper-sc-1ejywvi-1 gzCUdp">
          <img src="{{character.image}}">
        </div>
        <div class="characterCard__ContentWrapper-sc-1ejywvi-2 hNRKYn">
          <div class="section">
            <div class="externalLink__ExternalLink-sc-1lixk38-0 bQJGkk">
              <h2>{{character.name}}</h2>
            </div>
            <span class="status">
              <span class="status__icon" [ngClass]="character.status === 'Alive' ? 'status-alive' : 'status-dead'"></span> {{character.status}} - {{character.species}}
            </span>
          </div>
          <div class="section">
            <span class="text-gray">Last known location:</span>
            <div class="externalLink__ExternalLink-sc-1lixk38-0 bQJGkk">{{character.location.name}}</div>
          </div>
          <div class="section">
            <span class="text-gray">First seen in:</span>
            <div class="externalLink__ExternalLink-sc-1lixk38-0 bQJGkk">{{character.firstEpisode}}</div>
          </div>
        </div>
      </article>
    </div>
</section>
<div class="center">
  <div *ngIf="isLoading" id="infiniteLoading" class="lds-facebook"><div></div><div></div><div></div></div>
</div>
